<% include ../partials/header %>

<form id="final-step" action="/leads/new" method="POST">
  <h1>Final Step!</h1>
  <p>Poor Condition, Low Valuation: <%- avmpoorlow %></p>
  <p>Poor Condition, High Valuation: <%- avmpoorhigh %></p>
  <p>Good Condition, Low Valuation: <%- avmgoodlow %></p>
  <p>Good Condition, High Valuation: <%- avmgoodhigh %></p>
  <p>Excellent Condition, Low Valuation: <%- avmexcellentlow %></p>
  <p>Excellent Condition, High Valuation: <%- avmexcellenthigh %></p>
  <input class="form-control" type="text" name="firstName" id="firstName" placeholder="First Name">
  <input class="form-control" type="text" name="lastName" id="lastName" placeholder="Last Name" required>
  <input class="form-control" type="text" name="email" id="email" placeholder="E-Mail" step="0.01" required>
  <input class="form-control" type="text" name="phoneNumber" id="phoneNumber" placeholder="Phone Number">
  <button class="btn btn-lg btn-primary btn-block">Submit!</button>
</form>

<% include ../partials/footer %>

<style media="screen">
  #final-step {
    color: black;
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px;
  }
</style>
