<% include ../partials/header %>

<div class="row">
  <div class="col-md-3">
    <p class="lead">YelpCamp</p>
    <div class="list-group">
      <li class="list-group-item active">Info 1</li>
      <li class="list-group-item">Info 2</li>
      <li class="list-group-item">Info 3</li>
    </div>
    <div id="map"></div>
  </div>
  <div class="col-md-9">
    <div class="thumbnail">
      <div class="caption-full">
        <h4 class="pull-right">
          $<%= lead.firstName %>/night
        </h4>
        <h4><a><%=lead.firstName%></a></h4>
        <p><%= lead.lastName %></p>
        <p>
          <em>Submitted by: <%= lead.firstName %> - <%= moment(lead.createdAt).fromNow() %></em>
        </p>
        <% if(currentUser.isAdmin){ %>
          <p>Your credentials allow you to edit this post.%></p>
          <a class="btn btn-warning" href="/leads/<%= lead._id %>/edit">Edit</a>
          <form action="/leads/<%= lead._id %>?_method=DELETE" method="POST" class="delete-form">
            <button class="btn btn-danger">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <div class="well">
        <div class="text-right">
          <a class="btn btn-success" href="/leads/<%= lead._id %>/comments/new">Add New Comment</a>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <script>
    function initMap() {
      var lat = <%= lead.lat %>;
      var lng = <%= lead.lng %>;
      var center = {lat: lat, lng: lng };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: true,
        mapTypeId: google.maps.MapTypeId.HYBRID
      });
      var contentString = `
      <strong><%= lead.firstName %><br />
        <%= lead.lastName %></strong>
        <p><%= lead.email %></p>
        `
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        var marker = new google.maps.Marker({
          position: center,
          map: map
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvIOYOAw4iI_j7PC-Gujb7YC1IOQoqYtw&callback=initMap"></script>

    <% include ../partials/footer %>
